<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    </head>
    <%- include('./includes/nav.ejs') %>

        <body>
            <div class="container">
                <h3 class="center">Add new lyrics <i class="fas fa-music"></i></h3>
                <h2>Hi
                    <%=name%>!
                </h2>
            </div>

            <%- include('./includes/end.ejs') %>